/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */


.main.page{
    margin-top: 300px;
}

.container.post{
    padding-top: 50px;
    min-height: 80vh;
}
