/* **********************
    GENERAL OBF (.obf)
   ====================== */
.circle-img {
    border-radius: 50%;
}

.wrap-link {
    display: block;
    border: none;
    box-shadow: none !important;
}

.scroll-hor {
    overflow-x: auto;
}

.center-text * {
    text-align: center !important;
}

.lead {
    font-size: 1rem;
    font-weight: 300;
}

.sb-instruction {
    margin-bottom: 30px;
    display: inline-block;
}

.text-large {
    font-weight: 300;
    font-size: large;
}

/* ======================
    Tabs selector
   ====================== */

.nav-tabs {
    float: left;
    width: 100%;
    margin: 0;
    list-style-type: none;
    border-bottom: 1px solid #ddd;
}

.nav-tabs > li {
    float: left;
    margin-bottom: -1px;
}

.nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.5;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    float: left;
    text-decoration: none;
    box-shadow: none;
}

.nav-tabs > li > a:hover {
    border-color: #eee #eee #ddd;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a.hover,
.nav-tabs > li.active > a:focus {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

.tab-content-page {
    float: left;
    width: 100%;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.tab-content-page .tab-pane {
    float: left;
    width: 100%;
    display: none;
    box-sizing: border-box;
    padding: 10px 20px;
}

.tab-content-page > .tab-pane.active {
    display: block;
    background-color: #fff;
    box-shadow: 0 5px 4px -2px rgba(0, 0, 0, 0.15);
}

/* ===========================
    MODAL -> pop-up
   =========================== */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9991; /* One more the navigation bar or wordpress*/
    padding-top: 100px; /* Location of the box */
    padding-bottom: 30px; /* Location of the box */
    left: 0;
    top: 0;
    bottom: 30px;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
}

/* Style against Listify theme */
.modal-content * {
    color: black;
    text-shadow: none;
}

/* ======================
    Action Control
   ====================== */

.obf-title {
    font-size: 40px !important;
    margin-bottom: 20px !important;
}

.container.admin {

}

.intro-dash {
    display: block;
}

.cont-title-dash {
    background-color: #fdfdfd;
}

.cont-title-dash h2 {
    font-size: 1.4em;
}

.lead {
    font-size: 0.95rem;
    font-weight: 300;
}

.content-dash {
    margin-top: 30px;
}

/* ## Action TAB ## */
.row-dash {
    padding: 10px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-left: 4px solid #fff;
    background: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}

.col-dash {
    display: inline-block;
    margin: 0px 20px;
    font-size: 15px;
}

.col-dash:first-child {
    width: 90px;
    margin: 0px 0px;
    padding-left: 15px;
}

.col-dash:last-child {
    float: right;
    padding: 30px 0px;
}

.vert-hr {
    border-left: 1px solid #9d9d9d;
    height: 30px;
    position: relative;
    top: 50%;
    transform: translateY(25%);
}

.col-dash h4 {
    font-size: 23px;
    font-weight: 400;
}

.col-dash p {
    padding: 0px;
    margin: 0px;
    float: left;
}

.manage-link {
    font-weight: 300;
    font-size: 15px;
    text-decoration: none;
}

.manage-link:hover {
    text-decoration: underline;
}

.number-stc {
    display: inline-block;
    font-size: 18px;
    font-weight: 300;
    margin: 0px 10px;
    padding: 7px;
    border-radius: 8px;
    background-color: #eee;
    text-align: center;
}

/* ## Badges list TAB ## */
.badges-list-dash {
    width: 100%;
    white-space: nowrap;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    border-collapse: collapse;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #e9ecef;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #e9ecef;
}

.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #e9ecef;
}

th {
    text-align: inherit;
}

/* ======================
    SETTINGS
   ====================== */

.image-setting-prev {
    max-width: 150px;
    display: block;
    height: auto;
    width: auto;
    vertical-align: top;
    background-image: linear-gradient(45deg, #c4c4c4 25%, transparent 25%, transparent 75%, #c4c4c4 75%, #c4c4c4), linear-gradient(45deg, #c4c4c4 25%, transparent 25%, transparent 75%, #c4c4c4 75%, #c4c4c4);
    background-position: 0 0, 10px 10px;
    background-size: 20px 20px;
}

.remove-image-obf-settings {
    display: inline-block;
}

.submit {
    display: inline-block;
}

/* ======================
    USER
   ====================== */

.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.flex-item {
    margin: 10px;
}

.center-container {
    display: -webkit-flex;
    display: flex;
}

.center-item {
    margin: auto auto auto 10px;
}

.author-name {
    text-align: left;
    float: none;
    margin-bottom: 20px;
}

.author-name h1 {
    font-size: 40px;
}

.user-info-admin .img-user {
    -webkit-flex: 1;
    flex: 1;
    max-width: 150px;
}

.user-info-admin .img-user img {
    height: auto;
    width: 100%;
}

.user-info .txt-info {
    float: left;
    width: 80%;
}

.txt-info li {
    margin: 4px 0px;
    font-size: 16px;
    font-weight: 100;
    list-style-type: none;
    float: left;
    clear: both;
    display: inline-block;
}

.txt-info li:first-child {
    margin-top: 0px;
}

/* List of badges */
.user-badges-cont {
    width: 100%;
    clear: both;
    float: left;
    margin-top: 50px;
    background: lightgrey;
    border-radius: 5px;
    display: block;
    border-bottom: 2px solid #d0d0d0;
    border-radius: 0px 0px 10px 10px;
    padding: 0 5px 5px 5px;
}

/* Style against Listify theme */
.user-badges-cont * {
    color: black;
    text-shadow: none;
}

.user-badges {
    background-color: whitesmoke;

}

.user-badges .title-badges-cont {
    overflow: auto;
    width: 100%;
    background-color: lightgrey;
    padding: 8px 20px;
}

.user-badges .title-badges-cont h3 {
    font-weight: 300;
    font-size: 25px;
    margin:0;
}

.user-badges .badge {
    border-radius: 10px;
    text-align: center;
}

.user-badges .badge .cont-img-badge {
    display: inline-block;
    width: 80px;
    text-align: center;
}

.user-badges .badge img {
    width: 100%;
}

.user-badges .badge img {
    transition: 400ms;
}

.user-badges .badge:hover > a div img {
    box-shadow: 1px 1px 10px 2px #a8a8a8;
}

.user-badges .badge span {
    width: 100%;
    margin: auto;
    font-size: 14px;
    font-weight: 300;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    position: relative;
}

/*effect-underline*/
.user-badges .badge a {
    color: black;
    text-decoration: none;
}

.obf-badges-to-accept {
    width: 100%;
    clear: both;
    background-color: whitesmoke;
}

.obf-badges-to-accept.user-badges {
    border-radius: 0 0 8px 8px;
}

.obf-badges-to-accept .title-badges-cont{
    padding: 4px 25px;
    background-color: #e3e3e3;
}

.obf-badges-to-accept h4 {
    font-size: 17px;
    font-weight: 300;
    margin: 0px;
}

.obf-badges-to-accept .badge .cont-img-badge {
    width: 40px;
}

/* ==============================
    SINGLE BADGE PAGE SBP (.sbp)
   ============================== */

.obf-sbp-conatiner-badge {
    width: 50%;
    background-color: whitesmoke;
    padding: 15px;
}

.user-cont-obf {
    font-weight: 300;
    font-size: 15px;
    background-color: white;
    padding: 25px;
}

.user-cont-obf h3 {
    padding-bottom: 10px;
}

/* The Close Button */
.obf-bsp-badge-image {
    position: absolute;
    float: right;
    right: 0;
    top: 0;
    border-radius: 0 5px 0 5px;
    background-color: whitesmoke;
    padding: 20px;
    font-size: 28px;
    font-weight: bold;
    height: auto;
    width: auto;
}

.obf-bsp-badge-image img {
    height: 100px;
    width: auto;

}

.obf-sbp-cont-btn {
    margin-top: 50px;
    display: table;
}

.obf-sbp-cont-btn .btn-primary {
    color: white;
    background-color: #007bff;
}