
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.try-center {
    margin-left: auto;
    margin-right: auto;
}

/* ==================================
    Style the TAB
   ================================== */

div.tab {
    overflow: hidden;
    background-color: #e2e2e2;
    text-align: center;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 28px;
    font-weight: 200;
    border-radius: 0px;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #ccc;
}

.wrap .tabcontent {
    display: none;
    border: 6px solid #e2e2e2;
}

/* Style the tab content */
.tabcontent {
    padding: 6px 40px;
    border-top: none;
}

/* ==================================
    SEND badge WIZARD == FORM BADGES
   ================================== */

/*
    Common
*/

.wizard,
.tabcontrol {
    display: block;
    width: 100%;
    overflow: hidden;
}

.wizard a,
.tabcontrol a {
    outline: 0;
}

.wizard .steps ul {
    list-style: none !important;
    overflow: hidden !important;
    padding: 0;
    margin-left: 0px;
    display: inline-block;
    margin-bottom: 0px !important;
}

.wizard ul > li,
.tabcontrol ul > li {
    display: block;
    padding: 0;
}

/* Accessibility */
.wizard > .steps .current-info,
.tabcontrol > .steps .current-info {
    position: absolute;
    left: -999em;
}

.wizard > .content > .title,
.tabcontrol > .content > .title {
    position: absolute;
    left: -999em;
}

/*
    Wizard
*/

.wizard > .steps {
    position: relative;
    display: block;
    width: 100%;
    overflow-x: hidden;
    text-align: center;
    padding: 20px 0px;
}

.wizard > .steps .number {
}

.wizard > .steps li {
    min-width: 90px;
    margin: 0em 0.5em !important;
}

.wizard > .steps li:first-child {
    margin-left: 0px !important;
}

.wizard > .steps li:last-child {
    margin-right: 0px !important;
}

.wizard > .steps > ul > li,
.wizard > .actions > ul > li {
    float: left;
}

.wizard > .steps a {
    cursor: pointer !important;
    outline: none;
    outline-style: none;
    box-shadow: none;
    border-color: transparent;
    display: block;
    width: auto;
    border: 1px solid #b4b9be;
    padding: 5px 20px !important;
    text-decoration: none;
    font-size: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.wizard > .steps .disabled a,
.wizard > .steps .disabled a:hover,
.wizard > .steps .disabled a:active {
    color: #8c8c8c;
    cursor: no-drop !important;
}

.wizard > .steps .current a,
.wizard > .steps .current a:hover,
.wizard > .steps .current a:active {
    background: #ddd;
    color: #474747;
    cursor: default;
}

.wizard > .steps .done a,
.wizard > .steps .done a:hover,
.wizard > .steps .done a:active {
    color: grey;
}

.wizard > .steps .error a,
.wizard > .steps .error a:hover,
.wizard > .steps .error a:active {
    color: #ea0000;
    border: 1px solid #ea0000;
}

.wizard > .content {
    display: block;
    min-height: 35em;
    margin-top: auto;
    position: relative;
    width: auto;
}

.wizard > .content > .body {
    float: left;
    position: absolute;
    width: 99%;
    height: 100%;
    background-color: whitesmoke;
    border: 2px solid #bdbdbd;
    border-radius: 10px;
}

.wizard > .content > .body ul {
    list-style: disc !important;
}

.wizard > .content > .body ul > li {
    display: list-item;
}

.wizard > .content > .body > iframe {
    border: 0 none;
    width: 100%;
    height: 100%;
}

.wizard > .content > .body input[type="checkbox"] {
    display: inline-block;
}

.wizard > .content > .body input.error {
    background: rgb(251, 227, 228);
    border: 1px solid #fbc2c4;
    color: #8a1f11;
}

.wizard > .content > .body label {
    display: inline-block;
    margin-bottom: 0.5em;
}

.wizard > .content > .body label.error {
    color: #8a1f11;
    display: inline-block;
    margin-left: 1.5em;
}

.wizard > .actions {
    position: relative;
    display: block;
    text-align: center;
    width: 100%;
    margin-top: 20px;
}

.wizard > .actions > ul {
    display: inline-block;
    text-align: center;
}

.wizard > .actions > ul > li {
    margin: 0 0.5em;
}

.wizard > .actions a,
.wizard > .actions a:hover,
.wizard > .actions a:active {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    display: block;
    padding: 0.5em 1em;
    text-decoration: none;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.wizard > .actions .disabled a,
.wizard > .actions .disabled a:hover,
.wizard > .actions .disabled a:active {
    color: #fff;
    background-color: #868e96;
    border-color: #868e96;
}

.wizard > .loading {
}

.wizard > .loading .spinner {
}

#form-send-badges {
    margin-top: 20px;
}

/* ===========================
    SEND badge SECTION
   =========================== */

section.current {

}

.section-container {
    text-align: center;
}

.title-form {
    display: inline-block;
    margin: 30px auto 30px auto;
    border: 2px solid #e2e2e2;
    padding: 10px 40px 10px 40px;
    border-radius: 10px;
}

.title-form h2 {
    font-size: 25px;
    font-weight: 300;
    color: #474747;
    display: inline;
}

.sep-sendbadge {
    margin: 30px auto 30px auto;
    width: 250px;
    background-color: whitesmoke;
}

.info-field {
    width: 80%;
    margin: auto;
}

.hr-sb {
    margin: 10px auto 10px auto;
    width: 50px;
    background-color: whitesmoke;
}

.btns-parent-field {
    margin: 30px auto;
}

/* ### SELECT LANGUAGE ###*/

.btn-change-children {
    margin-left: 20px;
    text-decoration: none;

}

.btn-change-children:first-child {
    margin-left: 0px;
}

.btn-change-children.active {
    color: black;
    background-color: #f2f2f2;
    border-color: #9d9d9d;
    pointer-events: none;
    cursor: default;
}

.select-field {
    padding: 20px;
}

.select-field select {

}

/* ### SELECT LEVEL ###*/

/* ### KIND of BADGE ### */

.cont-badge-sb {
    display: inline-block;
    margin: 10px 20px;
}

.badge-cont > input {
    visibility: hidden;
    position: absolute;
}

.badge-cont > input + img {
    border: 1px solid transparent;
    width: 70px;
    height: 70px;
    transition: 500ms all;
    border-radius: 50%;
    margin: 5px;
}

.badge-cont > input:checked + img { /* IMAGE STYLES */
    box-shadow: 0 0 0px 4px #007bff;
}

.desc-badge {
    width: 80%;
    margin: auto;
}

/* ### CLASS ### */

.rdi-tab {
    display: inline-block;
}

.title-classes {
    font-weight: 200;
    margin-bottom: 0px;
}

.radio-input {
    position: absolute;
    left: -9999px;
}

.radio-label {
    display: block;
    position: relative;
    margin: 20px;
    padding: 8px 20px 8px 42px;
    border: 3px solid #929292;
    border-radius: 100px;
    color: #fff;
    background-color: #b5b5b5;
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
    transition: background-color .2s, box-shadow .2s;
}

.radio-label::before {
    content: '';
    display: block;
    position: absolute;
    top: 7px;
    bottom: 7px;
    left: 7px;
    width: 14px;
    border: 3px solid #fff;
    border-radius: 100px;
    transition: background-color .2s;
}

.radio-label:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
}

.radio-input:checked + .radio-label {
    background-color: #727272;
    border: 3px solid #ffffff;
}

.radio-input:checked + .radio-label::before {
    background-color: #fff;
}

/* ### Message ### */

.message {
    padding: 10px;
    font-size: 13px;
    position: absolute !important;
    top: 5px;
    width: 95%;
    background: #fff;
    border-left: 4px solid #46b450;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
    margin-right: 15px;
}

.msg-success {
    border-left-color: #46b450;
}

.msg-insuccess {
    border-left-color: #b42300;
}


/* ===========================
    The Modal (background)
   =========================== */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9991; /* One more the navigation bar or wordpress*/
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}