.title-page-admin{
    text-align: center;
    margin: 20px auto 40px auto;
}

.title-page-admin h1 {
    font-size: 40px;
}

.title-page-admin .dashicons,
title-page-admin .dashicons-before:before {
    display: inline-block;
    width: 40px;
    height: 40px;
    font-size: 40px;
    line-height: inherit;
    font-family: dashicons;
    text-decoration: inherit;
    font-weight: 400;
    font-style: normal;
    vertical-align: top;
    text-align: center;
    -webkit-transition: color .1s ease-in 0;
    transition: color .1s ease-in 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}